<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/bundles/css/desktop")
    @Scripts.Render("~/bundles/scripts/desktop")
</head>
<body>
	@RenderBody()
</body>
</html>
